.App {
  text-align: center;
}

.select-fernet-button {
  margin-top: 3px;
  margin-bottom: 3px;
}

.more-fernet-button {
  margin-top: 3px;
  margin-bottom: 3px;
}

.App-logo {
  height: 40vmin;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: grey;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.video-list {
  width: 100%;
  height: 100%;
}

.video-thumb:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.youtube-wrapper {
  overflow:hidden;
  height: 100%;
  width: 75%;
  margin: auto;
  padding-bottom:43.1%;
  position:relative;
  height:0;
}

.youtube-wrapper iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (min-width: 1920px) {
  .youtube-wrapper {
    overflow:hidden;
    height: 100%;
    width: 40%;
    margin: auto;
    padding-bottom: 27.1%;
    position:relative;
    height:0;
  }
}

@media (max-width: 812px) {
  .youtube-wrapper {
    overflow:hidden;
    height: 100%;
    width: 71%;
    margin: auto;
    padding-bottom: 44.1%;
    position:relative;
    height:0;
  }
}